body,
html {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 position: relative;
 font-family: 'Nunito', sans-serif, monospace;
}

body {
 width: 100%;
 height: 100%;
}

.navbar-brand img {
 width: 75px;
}

a.active {
 font-weight: 700 !important;
 color: #000 !important;
}